<Layouts.app flash={@flash}>
  <.header>
    New Device
    <:subtitle>Use this form to manage device records in your database.</:subtitle>
  </.header>

  <.device_form changeset={@changeset} action={~p"/devices"} return_to={~p"/devices"} />
</Layouts.app>
