<Layouts.app flash={@flash}>
  <.header>
    Edit Operator #{@operator.id}
    <:subtitle>Use this form to manage operator records in your database.</:subtitle>
  </.header>

  <.operator_form
    changeset={@changeset}
    action={~p"/admin/operators/#{@operator}"}
    return_to={~p"/admin/operators"}
  />
</Layouts.app>
