<Layouts.app flash={@flash}>
  <.header>
    New Player
    <:subtitle>Use this form to manage player records in your database.</:subtitle>
  </.header>

  <.player_form changeset={@changeset} action={~p"/players"} return_to={~p"/players"} />
</Layouts.app>
