<Layouts.app flash={@flash}>
  <.header>
    Edit Retails {@retails.id}
    <:subtitle>Use this form to manage retails records in your database.</:subtitle>
  </.header>

  <.retails_form
    changeset={@changeset}
    action={~p"/retails/#{@retails}"}
    return_to={~p"/retails"}
  />
</Layouts.app>
